<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>可视化</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/flexible.js"></script>
</head>
<body>
    <header>
        <h1>直播市场数据可视化</h1>
    </header>
    <section>
        <div class="big-box">
            <div class="double-box">
            </div>
            <div class="min-box"></div>
        </div>
        <div class="big-box">
            <div class="min-box"></div>
            <div class="min-box"></div>
            <div class="min-box"></div>
        </div>
        <div class="big-box three-box">
            <div class="bar-box"></div>
            <div class="bar-box"></div>
        </div>
    </section>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/index-bar.js"></script>
    <script src="../static/js/index-double.js"></script>
    <script src="../static/js/index-fwbar.js"></script>
    <script src="../static/js/index-zbar.js"></script>
    <script src="../static/js/index-rightBtomm.js"></script>
    <script src="../static/js/index-line.js"></script>
    <script src="../static/js/index-bottom.js"></script>
</body>
</html>